out
dist
node_modules
.vscode-test/
*.vsix
src/backend/completionQuery/model
src/backend/completionQuery/dataset/Java
src/backend/completionQuery/dataset/Python
src/backend/completionQuery/dataset/source_code
src/backend/model